<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title><%= titulo %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('../partials/header') %>

  <main class="container">
    <h1><%= titulo %></h1>
    <p><%= descricao %></p>
  </main>

  <%- include('../partials/footer') %>
</body>
</html>